---
import Layout from "../layouts/Layout.astro";
import background from "../assets/background.svg";
import astroLogo from "../assets/astro.svg";
---

<Layout>
  <img
    class="fixed -z-10 h-full w-full"
    src={background.src}
    alt=""
    fetchpriority="high"
  />
  <div class="flex flex-col items-center justify-center py-32">
    <a href="https://astro.build"
      ><img
        src={astroLogo.src}
        width="230"
        height="96"
        alt="Astro Homepage"
      /></a
    >
  </div>
  <!-- <Welcome /> -->
</Layout>
